.App {
  text-align: center;
}
li {
  list-style: none;
}
li:hover {
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body {
  position: absolute;
  z-index: 1;
}
.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 2;
  background: lightgray;
}
/* .navbar-nav :nth-child(n + 2) {
  color: white !important;
  background: rgba(33, 33, 33, 0.5);
}
.navbar-nav :first-child {
  color: black !important;
} */

.logo {
  height: 20px;
  zoom: 3;
  margin-left: 5px;
  margin-top: -8px;
  margin-bottom: -10px;
}

/*  Home Page Slideshow */

.body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh; /* vertically center div */
}

#landing-header h1 {
  color: #fff;
}

.slideshow {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(https://i.imgur.com/HJaBZ8u.jpg);
}
.slideshow li:nth-child(2) {
  background-image: url(https://i.imgur.com/o7blsDX.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(https://i.imgur.com/tv4V9U2.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://i.imgur.com/t0z1VW9.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://i.imgur.com/GiRuiFB.jpg);
  background-size: contain;
  background-repeat: repeat;
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}
