/* .body {
  position: absolute;
  z-index: 1;
}
.nav {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 2;
}

/* .navbar-nav :nth-child(n + 2) {
  color: white !important;
  background: rgba(33, 33, 33, 0.5);
}
.navbar-nav :first-child {
  color: black !important;
} */

/* .logo {
  height: 20px;
  zoom: 3;
  margin-left: 5px;
  margin-top: -8px;
  margin-bottom: -10px;
} */
.login,
.logout,
.signup {
  float: right;
  margin-right: 20px;
  color: white;
}
.center {
  float: right;
}
.navbar-nav {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    20%,
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 10px;
  color: white;
}
.login-display {
  float: left;
}
.nav-search {
  float: right;
  margin-top: -100px;
  margin-left: 40px;
}
.search-button {
  margin-bottom: 40px;
}
