/* .body {
  position: absolute;
  z-index: 1;
}
.nav {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 2;

} */
/* 
/* .navbar-nav :nth-child(n + 2) {
  color: white !important;
  background: rgba(33, 33, 33, 0.5);
}
.navbar-nav :first-child {
  color: black !important;
} */

/* .logo {
  height: 20px;
  zoom: 3;
  margin-left: 5px;
  margin-top: -8px;
  margin-bottom: -10px;
} */
.login,
.logout,
.signup {
  float: right;
  margin-right: 20px;
  color: black;
}
.center {
  float: right;
}
.navbar-nav {
  background-color: transparent;
  border-radius: 10px;
  color: black;
  margin-top: 20px;
}
.login-display {
  margin-left: 200px;
}
.btn-primary {
  background: rgb(0%, 63%, 100%);
}
.nav-search {
  float: right;
  margin-top: -100px;
  margin-left: 350px;
}
.search-button {
  margin-bottom: 40px;
}
.company-name {
  margin-left: 220px;
  margin-right: 60px;
  font-family: "Spinnaker", sans-serif;
  font-size: 32px;
  font-weight: 900;
  color: white;
  letter-spacing: 2px;
  margin-left: 200px;
}
/* .navbar-brand {
  width: 10%;
  margin-left: 200px;
} */
.mr-auto {
  margin-left: 200px;
}
