.myprofile-container {
  margin-top: 200px;
}
.con {
  display: flex;
  justify-content: center;
}
.profile-details {
  width: 400px;
  height: 600px;
  background: #eee;
  border: 2px gray outset;
  margin-top: 80px;
  padding: 40px;
  padding-top: 100px;
  border-radius: 10px;
}
.profile-image {
  border: 2px solid black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin-top: 180px;
}
.profile-name,
.profile-email,
.profile-address {
  margin: 0 auto;
  font-size: 26px;
}
.bold {
  font-weight: bold;
}
.profile-info {
  margin-top: 180px;
}
.profile-items {
  margin-top: 80px;
  overflow: auto;
  margin-left: 160px;
}
@media (max-width: 948px) {
  .profile-items {
    margin: 0;
    padding: 40px;
    overflow: auto;
  }
  .borrow-button {
    margin: 10px;
  }
}
.add-item-button {
  margin-top: 40px;
  height: 40px;
}

/*  ProfileItem.js */

.item-image {
  width: 200px;
  height: 200px;
}

.item-container {
  margin-top: 40px;
  background: #eee;
  border: 2px outset #eee;
  border-radius: 20px;
  max-height: 400px;
  width: 100%;
  padding-top: -40px;
  /* overflow: auto; */
}
.item-container:first-child {
  margin-top: 30px;
}
.item-image {
  margin-top: 20px;
  padding: 20px;
}
.item-content {
  margin-top: 50px;
  font-family: "Comfortaa", cursive;
}
.item-square {
  padding-bottom: 40px;
  max-height: 400px;
  width: 100%;
}
.borrow-button {
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

/* ProfileCard */

.grid-container {
  display: grid;
  grid-template-columns: 4;
}
.show-grid {
  margin-top: 100px;
  grid-column: 2;
}
