.hammer {
  background: url("./markerLogos/team.png");
  background-size: cover;
  height: 50px;
  width: 50px;
}
.home {
  background: url("./markerLogos/House.png");
  height: 50px;
  width: 50px;
  background-size: cover;
  margin: auto 0;
}
