.profile-image {
  width: 140px;
  height: 140px;
}
.myprofile-container {
  margin-top: 200px;
}
.con {
  display: flex;
  justify-content: center;
}
.profile-details {
  width: 200px;
  height: 200px;
  background: #eee;
  border: 2px gray outset;
  display: flex;
  justify-content: center;
}
