.myprofile-container {
  margin-top: 200px;
}
.con {
  display: flex;
  justify-content: center;
}
.profile-details {
  width: 400px;
  height: 600px;
  background: #eee;
  border: 2px gray outset;
  display: flex;
  justify-content: center;
}
.profile-image {
  border: 2px solid black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin-top: 180px;
}
.profile-info {
  margin-top: 100px;
}
.profile-items {
  margin-top: 80px;
  overflow: auto;
}
.add-item-button {
  margin-top: 40px;
  height: 40px;
}
.edit-profile-button {
  margin-top: 100px;
  margin-left: -850px;
}
